# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
console_shortcut==0.1.1==4
ipykernel==6.19.2==py310h9909e9c_0
ipympl==0.9.3==pypi_0
ipython==8.12.0==py310haa95532_0
ipython_genutils==0.2.0==pyhd3eb1b0_1
ipywidgets==8.0.4==pypi_0
jinja2==3.0.3==pypi_0
jupyter==1.0.0==pypi_0
jupyter-server==1.24.0==pypi_0
jupyter_client==6.1.12==pyhd3eb1b0_0
jupyter_console==6.4.0==pyhd3eb1b0_0
jupyter_contrib_core==0.4.0==pyhd8ed1ab_0
jupyter_core==5.3.0==py310haa95532_0
jupyter_highlight_selected_word==0.2.0==py310h5588dad_1005
jupyter_latex_envs==1.4.6==pyhd8ed1ab_1002
jupyterlab==3.3.2==pyhd3eb1b0_0
jupyterlab-widgets==3.0.7==pypi_0
jupyterlab_pygments==0.1.2==py_0
jupyterlab_server==2.16.3==py310haa95532_0
matplotlib==3.7.1==py310haa95532_1
matplotlib-base==3.7.1==py310h4ed8f06_1
matplotlib-inline==0.1.6==py310haa95532_0
nbclassic==0.5.5==py310haa95532_0
nbclient==0.5.13==py310haa95532_0
nbconvert==7.0.0==pypi_0
nbformat==5.7.0==py310haa95532_0
notebook==6.5.4==pypi_0
notebook-shim==0.2.2==py310haa95532_0
numexpr==2.8.4==py310h2cd9be0_1
numpy==1.25.0==py310h055cbcc_0
numpy-base==1.25.0==py310h65a83cf_0
openpyxl==3.0.10==py310h2bbff1b_0
openssl==1.1.1u==h2bbff1b_0
pandas==1.5.3==py310h4ed8f06_0
python==3.10.11==h966fe2a_2
python-dateutil==2.8.2==pyhd3eb1b0_0
python-fastjsonschema==2.16.2==py310haa95532_0
python_abi==3.10==2_cp310
voila==0.4.0==pypi_0